<div class="col-md-4 col-md-offset-4 user-form reset-pwd">
    <div class="title">
        <h2>Reset Password</h2>
    </div>
    <form name="resetPasswordForm" ng-submit="userCtrl.resetPassword(resetPasswordForm)" novalidate>
        <div class="form-group" ng-class="{ 'has-error': resetPasswordForm.password.$dirty && resetPasswordForm.password.$error.required }">
            <label for="password">Password</label>
            <input type="password" name="password" id="password" class="form-control" ng-model="userCtrl.user.password" required />
            <span ng-show="resetPasswordForm.password.$dirty && resetPasswordForm.password.$error.required" class="help-block">Password is required</span>
        </div>
        <div class="form-group" ng-class="{ 'has-error': resetPasswordForm.passwordConfirm.$dirty && resetPasswordForm.passwordConfirm.$error.required  || resetPasswordForm.passwordConfirm.$error.matchPassword && resetPasswordForm.passwordConfirm.$touched }">
            <label for="passwordConfirm">Confirm Password</label>
            <input type="password" name="passwordConfirm" id="passwordConfirm" class="form-control"  ng-model="userCtrl.user.confirmPassword" match-password="password" required/>
            <span ng-show="resetPasswordForm.passwordConfirm.$dirty && resetPasswordForm.passwordConfirm.$error.required" class="help-block">Password is required</span>
            <span ng-show="resetPasswordForm.passwordConfirm.$error.matchPassword && resetPasswordForm.passwordConfirm.$touched" class="help-block">Password doesn't match</span>
        </div>
        <div class="form-actions">
            <div class="text-center">
                <button type="submit" ng-disabled="resetPasswordForm.$invalid || isLoading" class="btn btn-primary">Reset</button>
                <img ng-if="isLoading" src="data:image/gif;base64,R0lGODlhEAAQAPIAAP///wAAAMLCwkJCQgAAAGJiYoKCgpKSkiH/C05FVFNDQVBFMi4wAwEAAAAh/hpDcmVhdGVkIHdpdGggYWpheGxvYWQuaW5mbwAh+QQJCgAAACwAAAAAEAAQAAADMwi63P4wyklrE2MIOggZnAdOmGYJRbExwroUmcG2LmDEwnHQLVsYOd2mBzkYDAdKa+dIAAAh+QQJCgAAACwAAAAAEAAQAAADNAi63P5OjCEgG4QMu7DmikRxQlFUYDEZIGBMRVsaqHwctXXf7WEYB4Ag1xjihkMZsiUkKhIAIfkECQoAAAAsAAAAABAAEAAAAzYIujIjK8pByJDMlFYvBoVjHA70GU7xSUJhmKtwHPAKzLO9HMaoKwJZ7Rf8AYPDDzKpZBqfvwQAIfkECQoAAAAsAAAAABAAEAAAAzMIumIlK8oyhpHsnFZfhYumCYUhDAQxRIdhHBGqRoKw0R8DYlJd8z0fMDgsGo/IpHI5TAAAIfkECQoAAAAsAAAAABAAEAAAAzIIunInK0rnZBTwGPNMgQwmdsNgXGJUlIWEuR5oWUIpz8pAEAMe6TwfwyYsGo/IpFKSAAAh+QQJCgAAACwAAAAAEAAQAAADMwi6IMKQORfjdOe82p4wGccc4CEuQradylesojEMBgsUc2G7sDX3lQGBMLAJibufbSlKAAAh+QQJCgAAACwAAAAAEAAQAAADMgi63P7wCRHZnFVdmgHu2nFwlWCI3WGc3TSWhUFGxTAUkGCbtgENBMJAEJsxgMLWzpEAACH5BAkKAAAALAAAAAAQABAAAAMyCLrc/jDKSatlQtScKdceCAjDII7HcQ4EMTCpyrCuUBjCYRgHVtqlAiB1YhiCnlsRkAAAOwAAAAAAAAAAAA==" />
            </div>
            <div class="text-center">
                <a href="#/login" class="btn btn-link"><small>Already have an account? Login</small></a>
            </div>
        </div>
    </form>
</div>
