<header-section></header-section>
<div class="container-fluid main-section product-detail-outline" ng-cloak ng-init=productCtrl.getProductDetail();>
    <div class="row product-detail-section">
        <div class="prod-category padding-bot col-md-12 col-sm-12 col-xs-12">
            Pret
        </div>
        <div class="col-md-6 col-sm-6 col-xs-12 product-images">
            <div class="col-md-9 col-sm-9 col-xs-12">
                <img src="assets/images/product-detail-1.jpg" class="img-responsive">
            </div>
            <div class="col-md-3 col-sm-3 col-xs-12">
                <div class="col-md-12 col-sm-12 col-xs-4 angle-images">
                    <img src="assets/images/product-detail-1.jpg" class="img-responsive">
                </div>
                <div class="col-md-12 col-sm-12 col-xs-4 angle-images">
                    <img src="assets/images/product-detail-2.jpg" class="img-responsive">
                </div>
                <div class="col-md-12 col-sm-12 col-xs-4 angle-images">
                    <img src="assets/images/product-detail-3.jpg" class="img-responsive">
                </div>
                <div class="col-md-12 col-sm-12 col-xs-4 angle-images">
                    <img src="assets/images/product-detail-4.jpg" class="img-responsive">
                </div>
            </div>
        </div>
        <div class="col-md-6 col-sm-6 col-xs-6 product-details">
            
            <div class="title padding-bot">Studio 149 {{productCtrl.product.product_detail.category.name}}</div>
            <div class="product-title padding-bot">{{productCtrl.product.product_detail.name}}</div>
            <div ng-if="productCtrl.product.product_detail.price <= 100000" class="product-price padding-bot">Rs. {{productCtrl.product.product_detail.price}}</div>
            <!-- <div class="product-size padding-bot">Size:</div>
             <div class="size-list padding-bot">
                <button type="button" class="btn">S</button>
                <button type="button" class="btn">M</button>
            </div> -->
            <div class="enquire">
                <button ng-if="productCtrl.product.product_detail.price <= 100000" type="=button" class="btn razorpay-payment-button">If interested please click here</button>
            </div>
            <div class="color-material padding-bot">
                <span>Color: {{productCtrl.product.product_detail.color}}</span><span class="pull-right">Material: {{productCtrl.product.product_detail.material}}</span>
            </div>
            <div class="enquire">
                <button type="=button" class="btn razorpay-payment-button" ng-click="productCtrl.payNow()">Buy Now</button>
            </div>
            <div class="product-description">
                <p><span>Description :</span> {{productCtrl.product.product_detail.description}}
                </p> 
            </div>
            <div class="delivery-period padding-bot">
                <span>Estimated Delivery :</span> 6 weeks
            </div>
            <hr>
            <div class="policy">
                <span>Return Policy :</span> Refundable within 21 days. Free for
                gift credit or a refund less return free
            </div>
        </div>
    </div>
</div>
<div ng-include src="'../app/scripts/order/views/order.html'"></div>
<footer-section></footer-section>
