<header-section></header-section>
<div class="container-fluid main-img" ng-init="productCtrl.getProductsByCategoryType()" ng-cloak>
    <div class="category-intro-img col-md-12 col-sm-12 col-xs-12">
        <img ng-if="productCtrl.categoryName == 'bridal'" src="assets/images/bridal-cover.jpg" class="img-responsive">
        <img ng-if="productCtrl.categoryName == 'pret'" src="assets/images/pret-cover.jpg" class="img-responsive">
        <img ng-if="productCtrl.categoryName == 'festive'" src="assets/images/festive-cover.jpg" class="img-responsive">
    </div>
</div>
<div class="container-fluid products-section">
     <!--  -->
    <div class="col-md-12 col-sm-12 col-xs-12 products-listing">
        <div class="col-md-4 col-sm-4 col-xs-6 product-card" ng-repeat="product in productCtrl.products" ng-click="productCtrl.getProductDetail(product.id);">
            <div class="col-md-12 col-sm-12 product-shadow">
                <div class="card">
                    <img class="card-img-top img-responsive" src="assets/images/products/{{product.code}}/{{product.productImages[0]}}" alt="category">
                    <a ui-sref="product-detail({id: product.id})" class="product-title btn card-text">{{ product.product_detail.name }}
                    <br>
                    <p class="prod-desc">{{ product.product_detail.category.name }}</p>
                    <p ng-if= "product.product_detail.price !== '0.00'" class="prod-desc prod-price">Rs. {{ product.product_detail.price }}</p>
                    <p ng-if= "product.product_detail.price == '0.00'" class="prod-desc prod-price">Price on request</p>
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>
<footer-section></footer-section>