<header-section></header-section>
<div class="container-fluid products-section">
     <div class="category-intro-img col-md-12 col-sm-12 col-xs-12">
        <img src="assets/images/studio149-3.jpg" class="img-responsive">
    </div>
    <div class="col-md-12 col-sm-12 col-xs-12 products-listing">
        <div class="category-text">Bridal</div>
        <hr>
        <div class="latest">
            <div class="context-text latest-text">Latest</div>
        </div>
        <div class="col-md-4 col-sm-4 col-xs-6 product-card">
            <div class="col-md-12 col-sm-12 product-shadow">
                <div class="card">
                    <img class="card-img-top img-responsive" src="assets/images/product-1.jpg" alt="category">
                    <a href="#" class="category-title product-title btn card-text">Yellow Lehenga with embroidery
                    <hr>
                    <p class="prod-desc">try that out to test your elegance</p>
                    </a>
                </div>
            </div>
		</div>
        <div class="col-md-4 col-sm-4 col-xs-6 product-card">
            <div class="col-md-12 col-sm-12 product-shadow">
                <div class="card">
                    <img class="card-img-top img-responsive" src="assets/images/product-2.jpg" alt="category">
                    <a href="#" class="category-title product-title btn card-text">Yellow Lehenga with embroidery
                    <hr>
                    <p class="prod-desc">try that out to test your elegance</p>
                    </a>
                    
                </div>
			</div>
        </div>
        <div class="col-md-4 col-sm-4 col-xs-6 product-card">
            <div class="col-md-12 col-sm-12 product-shadow">
                <div class="card">
                    <img class="card-img-top img-responsive" src="assets/images/product-3.jpg" alt="category">
                    <a href="#" class="category-title product-title btn card-text">Yellow Lehenga with embroidery
                    <hr>
                    <p class="prod-desc">try that out to test your elegance</p>
                    </a>
                </div>   
			</div>
        </div>
        <div class="col-md-4 col-sm-4 col-xs-6 product-card">
            <div class="col-md-12 col-sm-12 product-shadow">
                <div class="card">
                    <img class="card-img-top img-responsive" src="assets/images/product-1.jpg" alt="category">
                    <a href="#" class="category-title product-title btn card-text">Yellow Lehenga with embroidery
                    <hr>
                    <p class="prod-desc">try that out to test your elegance</p>
                    </a>
                </div>   
			</div>
        </div>
        <div class="col-md-4 col-sm-4 col-xs-6 product-card">
            <div class="col-md-12 col-sm-12 product-shadow">
                <div class="card">
                    <img class="card-img-top img-responsive" src="assets/images/product-2.jpg" alt="category">
                    <a href="#" class="category-title product-title btn card-text">Yellow Lehenga with embroidery
                    <hr>
                    <p class="prod-desc">try that out to test your elegance</p>
                    </a>
                </div>   
			</div>
        </div>
        <div class="col-md-4 col-sm-4 col-xs-6 product-card">
            <div class="col-md-12 col-sm-12 product-shadow">
                <div class="card">
                    <img class="card-img-top img-responsive" src="assets/images/product-3.jpg" alt="category">
                    <a href="#" class="category-title product-title btn card-text">Yellow Lehenga with embroidery
                    <hr>
                    <p class="prod-desc">try that out to test your elegance</p>
                    </a>
                </div>   
			</div>
		</div>
    </div>
</div>
<footer-section></footer-section>