<header-section></header-section>
<div class="container-fluid main-section">
    <div class="row product-detail-section">
        <div class="prod-category padding-bot col-md-12 col-sm-12 col-xs-12">
            Pret
        </div>
        <div class="col-md-6 col-sm-6 col-xs-12 product-images">
            <div class="col-md-9 col-sm-9 col-xs-12">
                <img src="assets/images/product-detail-1.jpg" class="img-responsive">
            </div>
            <div class="col-md-3 col-sm-3 col-xs-12">
                <div class="col-md-12 col-sm-12 col-xs-4 angle-images">
                    <img src="assets/images/product-detail-1.jpg" class="img-responsive">
                </div>
                <div class="col-md-12 col-sm-12 col-xs-4 angle-images">
                    <img src="assets/images/product-detail-2.jpg" class="img-responsive">
                </div>
                <div class="col-md-12 col-sm-12 col-xs-4 angle-images">
                    <img src="assets/images/product-detail-3.jpg" class="img-responsive">
                </div>
                <div class="col-md-12 col-sm-12 col-xs-4 angle-images">
                    <img src="assets/images/product-detail-4.jpg" class="img-responsive">
                </div>
            </div>
        </div>
        <div class="col-md-6 col-sm-6 col-xs-6 product-details">
            <div class="title padding-bot">Studio 149 Pret</div>
            <div class="product-title padding-bot">Maroon Maniac</div>
            <div class="product-price padding-bot">Rs. 16,800</div>
            <div class="product-size padding-bot">Size:</div>
            <div class="size-list padding-bot">
                <button type="button" class="btn">S</button>
                <button type="button" class="btn">M</button>
            </div>
            <div class="color-material padding-bot">
                <span>Color: Maroon</span><span class="pull-right">Material: Cotton</span>
            </div>
            <div class="enquire">
                <button type="=button" class="btn">Enquire</button>
            </div>
            <div class="product-description">
                <p><span>Description :</span> High low-fit and flare strappy dress
                    in maroon cotton with printed accent waist belt and hem lines.
                </p> 
            </div>
            <div class="delivery-period padding-bot">
                <span>Estimated Delivery :</span> 09/09/2017 to 14/09/2017
            </div>
            <hr>
            <div class="policy">
                <span>Return Policy :</span> Refundable within 21 days. Free for
                gift credit or a refund less return free
            </div>
        </div>
    </div>
</div>
<footer-section></footer-section>