<header-section></header-section>
<div class="row press-outline">
  <div class="col-md-12 col-sm-12 col-xs-12 blouse-heading">
      Studio 149’s bridal blouses are exquisite for their embroidery and detailing.
      Get in touch with our in house designers who will help you design your
      perfect bridal blouses. 
  </div>
  <div class="col-md-12 col-sm-12 col-xs-12 enquire-now schedule-appointment">
    <button type="button" class="btn" data-toggle="modal" data-target="#appointmentModal">Schedule an Appointment</button>
  </div>
  <div class="press-section gallery col-md-12 col-sm-12 col-xs-12">
    <div class="col-md-4 blouse-section">
      <div class="blouses col-md-12">
        <div class="card">
            <img src="assets/images/blouse-1.jpg" class="card-img-top img-responsive" id="item-1">
        </div>
      </div>
    </div>
    <div class="col-md-4 blouse-section">
      <div class="blouses col-md-12">
        <div class="card">
            <img src="assets/images/blouse-2.jpg" class="card-img-top img-responsive" id="item-1">
        </div>
      </div>
    </div>
    <div class="col-md-4 blouse-section">
      <div class="blouses col-md-12">
        <div class="card">
            <img src="assets/images/blouse-3.jpg" class="card-img-top img-responsive" id="item-1">
        </div>
      </div>
    </div>
    <div class="col-md-4 blouse-section">
      <div class="blouses col-md-12">
        <div class="card">
            <img src="assets/images/blouse-4.jpg" class="card-img-top img-responsive" id="item-1">
        </div>
      </div>
    </div>
    <div class="col-md-4 blouse-section">
      <div class="blouses col-md-12">
        <div class="card">
            <img src="assets/images/blouse-5.jpg" class="card-img-top img-responsive" id="item-1">
        </div>
      </div>
    </div>
  </div>
</div>
<div ng-include src="'../app/scripts/order/views/schedule-appointment.html'"></div>
<footer-section></footer-section>