<header-section></header-section>
<div class="row press-outline">
  <div class="col-md-12 col-sm-12 col-xs-12 blouse-heading">
      Every person has a unique taste and we at Studio 149 would love to work
      along with you to create your dream outfit. Send us an enquiry with
      your requirements and our designers will be in touch with you shortly. 
  </div>
  <div class="col-md-12 col-sm-12 col-xs-12 enquire-now schedule-appointment">
    <button type="button" class="btn" data-toggle="modal" data-target="#appointmentModal">Schedule an Appointment</button>
  </div>
  <div class="press-section gallery col-md-12 col-sm-12 col-xs-12">
    <div class="col-md-4 blouse-section">
      <div class="blouses col-md-12">
        <div class="card">
            <img src="assets/images/custom-1.jpg" class="card-img-top img-responsive" id="item-1">
        </div>
      </div>
    </div>
    <div class="col-md-4 blouse-section">
      <div class="blouses col-md-12">
        <div class="card">
            <img src="assets/images/custom-2.jpg" class="card-img-top img-responsive" id="item-1">
        </div>
      </div>
    </div>
    <div class="col-md-4 blouse-section">
      <div class="blouses col-md-12">
        <div class="card">
            <img src="assets/images/custom-3.jpg" class="card-img-top img-responsive" id="item-1">
        </div>
      </div>
    </div>
    <div class="col-md-4 blouse-section">
      <div class="blouses col-md-12">
        <div class="card">
            <img src="assets/images/custom-4.jpg" class="card-img-top img-responsive" id="item-1">
        </div>
      </div>
    </div>
  </div>
</div>
<div ng-include src="'../app/scripts/order/views/schedule-appointment.html'"></div>
<footer-section></footer-section>