<div id="designerModal" class="modal fade" role="dialog">
  <div class="modal-dialog">

    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title">{{homeCtrl.designerName}}</h4>
      </div>
      <div class="modal-body">
        <img src="assets/images/{{homeCtrl.designerImage}}" class="img-responsive img-rounded" alt="Studio">
        <div class="designer-desc">{{homeCtrl.designerContent}}</div>
      </div>
    </div>

  </div>
</div>