<style>

    .email-layout {
        margin: 0 600px;
        font-size: 20px;
    }
    .description {
      padding-top: 20px;
    }
    .invoice-heading {
        font-size: 24px;
        color: white;
        background-color: black;
        text-align: center;
    }
    .address {
        font-size: 18px;
        padding-top: 20px;
        width: 50%;
    }
    .email, .phone {
      font-size: 18px;
    }
    .date {
        font-size: 18px;
        padding-top: 10px;
    }
    span.date {
      padding-right: 10px
    }
    table {
      width: 100%;
      text-align: center;
      margin-top: 75px;
    }
    th {
      text-align: center;
      font-size: 20px;
    }
    td {
      font-size: 20px;
    }
    .table-section {
      padding: 0 50px;
    }
    h3 {
    color: #DAA520;
    }
    .price {
      padding-top: 25px;
    } 
</style>

<div class="email-layout">
    <div class="invoice-heading">INVOICE</div>
    <div class="description">
        Hello <b>Asshole</b>, Your order is ont the way, we'll ship you your product in 6 weeks
    </div>
    <div class="address">
        Your package will be sent to: <br><br>
        Johnathan Neal, <br>
        101 E. Chapman Ave<br>
        Orange, CA 92866<br>
        (800) 555-1234<br>
    </div>
    <div class="email">
        zeeshanrealist@gail.com<br>
        9840747365
    </div>
    <div class="date">
        <span class="date">Order ID: #12323QDASDASD</span><br>
        <span class="date">Order Date: 02/09/2017</span>
    </div>
    <div class="product-details">
        <h3>Product Details</h3>
       Product Name: Red Velvet<br>
       Product Code: F222<br>
       Cateogry: Bridal<br>
       Size: S
    </div>
    <div class="price">
        <b>Total Amount:</b> Rs. 224567 (Inclusive of GST)
    </div>
</div>