<header-section></header-section>
<div class="container-fluid gif-section">
	<div class="col-md-12 col-sm-12 col-xs-12 home-section">
		<div class="col-md-12 col-sm-12 col-xs-12 header-image-section">
		 <div class="col-md-5 col-sm-5 col-xs-6 header-image">
			<img src="assets/images/unnamed.jpg" class="img-responsive" alt="carousel2">
		</div>
		<div class="col-md-7 col-sm-7 col-xs-6 header-image"> 
            <img src="assets/images/studio-149.gif" class="img-responsive" alt="carousel2">
		 </div> 
		</div>
		<div class="col-md-12 col-sm-12 col-xs-12 section-text">
			<p class="cursive-font">&quot;Fashion is architecture - it's a matter of proportions&quot;</p>
			<p class="cursive-font">- Coco Chanel </p>
			<p> We believe in making clothes that are timeless while carrying
				the attitude of women wearing them
			</p>
			<hr>
		</div>
	</div>
	<div class="col-md-12 col-sm-12 col-xs-12 home-section">
		<div class="header-text">Collections</div>
		<div class="col-md-4 col-sm-4 col-xs-12">
			<div class="card category">
				<img class="card-img-top img-responsive" src="assets/images/bridal.jpg" alt="category">
				<div class="card-label-bg"></div>
				<div class="card-label">
					<a ui-sref="products({categoryName: 'bridal'})" class="">Bridal</a>
				</div>
			</div>
			
		</div>
		<div class="col-md-4 col-sm-4 col-xs-12">
			<div class="card category">
				<img class="card-img-top img-responsive" src="assets/images/fusion.jpg" alt="category">
				<div class="card-label-bg"></div>
				<div class="card-label">
					<a ui-sref="products({categoryName: 'fusion'})" class="">Fusion</a>
				</div>
			</div>
		</div>
		<div class="col-md-4 col-sm-4 col-xs-12">
			<div class="card category">
				<img class="card-img-top img-responsive" src="assets/images/pret.jpg" alt="category">
				<div class="card-label-bg"></div>
				<div class="card-label">
					<a ui-sref="products({categoryName: 'pret'})" class="">Pret</a>
				</div>
			</div>
		</div>
	</div>
	<div class="col-md-12 col-sm-12 col-xs-12 home-section swathi-special swathi-special-text">
		<img src="assets/images/swathi-special.jpg" class="img-responsive">
	</div>
	<div class="col-md-12 col-sm-12 home-section">
		<div class="header-text">New Arrivals</div>
		<hr>
		<div class="slider-section">
			<div ng-click="homeCtrl.getProductDetail(1)"><img src="assets/images/black-carousel.jpg" class="img-responsive" alt="carousel2"></div>
			<div ng-click="homeCtrl.getProductDetail(2)"><img src="assets/images/red-carousel.jpg" class="img-responsive" alt="carousel2"></div>
			<div ng-click="homeCtrl.getProductDetail(3)"><img src="assets/images/pink-carousel.jpg" class="img-responsive" alt="carousel2"></div>
			<div ng-click="homeCtrl.getProductDetail(4)"><img src="assets/images/brown-carousel.jpg" class="img-responsive" alt="carousel2"></div>
			<div ng-click="homeCtrl.getProductDetail(5)"><img src="assets/images/green-pink-carousel.jpg" class="img-responsive" alt="carousel2"></div>
			<div ng-click="homeCtrl.getProductDetail(6)"><img src="assets/images/dark-blue-carousel.jpg" class="img-responsive" alt="carousel2"></div>
		</div>
	</div>
	<div class="col-md-12 col-sm-12 col-xs-12 home-section">
		<div class="header-text fashion-week-text">Press, Fashion Week and some coffee</div>
		<img src="assets/images/fashion-week-2.jpg" class="img-responsive" alt="Fashion-week">
		<div class="section-text fashion-section-text">
			<p>
				Expect a pretty but fun take on fashion trends. Welcome to our
				creatively curated blog for a daily dose of fashion,
				with a bonus of beauty and inspiration for your little stylish champ!
			</p>
		</div>
	</div>
	<footer-section></footer-section>
</div>
