<header-section></header-section>
<div class="container-fluid gif-section" ng-init="homeCtrl.getSelectedProducts();">
	<div class="col-md-12 col-sm-12 col-xs-12 home-section">
		<div class="col-md-12 col-sm-12 col-xs-12 home-slider-section">
			<img src="assets/images/home-1.jpg" class="img-responsive" alt="carousel2">
			<img src="assets/images/home-2.jpg" class="img-responsive" alt="carousel2">
			<img src="assets/images/home-3.jpg" class="img-responsive" alt="carousel2">
			<img src="assets/images/home-4.jpg" class="img-responsive" alt="carousel2">
			<img src="assets/images/home-5.jpg" class="img-responsive" alt="carousel2">
		</div>
	</div>
	<div class="col-md-12 col-sm-12 col-xs-12 home-section">
		<div class="header-text">Collections</div>
		<div class="col-md-4 col-sm-4 col-xs-12">
			<div class="card category">
				<img class="card-img-top img-responsive" src="assets/images/bridal.jpg" alt="category">
				<div class="card-label-bg"></div>
				<div class="card-label">
					<a ui-sref="products({categoryName: 'bridal'})" class="">Bridal</a>
				</div>
			</div>
			
		</div>
		<div class="col-md-4 col-sm-4 col-xs-12">
			<div class="card category">
				<img class="card-img-top img-responsive" src="assets/images/fusion.jpg" alt="category">
				<div class="card-label-bg"></div>
				<div class="card-label">
					<a ui-sref="products({categoryName: 'festive'})" class="">Festive</a>
				</div>
			</div>
		</div>
		<div class="col-md-4 col-sm-4 col-xs-12">
			<div class="card category">
				<img class="card-img-top img-responsive" src="assets/images/pret.jpg" alt="category">
				<div class="card-label-bg"></div>
				<div class="card-label">
					<a ui-sref="products({categoryName: 'pret'})" class="">Pret</a>
				</div>
			</div>
		</div>
	</div>
	<div class="col-md-12 col-sm-12 col-xs-12 home-section swathi-special swathi-special-text">
		<a ui-sref="product-detail({id: homeCtrl.products[4].id})">
		    <img src="assets/images/swathi-special.jpg" class="img-responsive" ng-click="homeCtrl.getProductDetail(products[4].id);">
		</a>
	</div>
	<div class="col-md-12 col-sm-12 home-section">
		<div class="header-text">New Arrivals</div>
		<hr>
		<div class="slider-section">
			 <div><a ui-sref="product-detail({id: homeCtrl.carouselProducts[0].id})">
				  <img src="assets/images/22-carousel.jpg" class="img-responsive" alt="carousel2">
			</a></div>
			<div><a ui-sref="product-detail({id: homeCtrl.carouselProducts[1].id})">
				  <img src="assets/images/23-carousel.jpg" class="img-responsive" alt="carousel2">
			</a></div>
			<div><a ui-sref="product-detail({id: homeCtrl.carouselProducts[2].id})">
				  <img src="assets/images/24-carousel.jpg" class="img-responsive" alt="carousel2">
			</a></div>
			<div><a ui-sref="product-detail({id: homeCtrl.carouselProducts[3].id})">
				  <img src="assets/images/25-carousel.jpg" class="img-responsive" alt="carousel2">
			</a></div> 
		</div>
	</div>
	<div class="col-md-12 col-sm-12 col-xs-12 home-section">
		<div class="header-text fashion-week-text">Press, Fashion Week and some coffee</div>
		<a href="blog.fashion.com" target=_blank><img src="assets/images/fashion-week-2.jpg" class="img-responsive" alt="Fashion-week"></a>
		<div class="section-text fashion-section-text">
			<p>
				Expect a pretty but fun take on fashion trends. Welcome to our
				creatively curated blog for a daily dose of fashion,
				with a bonus of beauty and inspiration for your little stylish champ!
			</p>
		</div>
	</div>
	<footer-section></footer-section>
</div>
