<ul class="pagin list-unstyled">
	<li><a href="#welcome" class="active"><span class="hover-text">Welcome</span></a></li>
	<li><a href="#specials"><span class="hover-text">Specials</span></a></li>
	<li><a href="#products"><span class="hover-text">Products</span></a></li>
	<li><a href="#contact"><span class="hover-text">Reach Us</span></a></li>
</ul>
<header>
	<div id="header">
		<nav class="navbar navbar-studio">
			<div class="container">
				<div class="navbar-header">
					<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navMain" aria-expanded="false">
							<span class="icon-bar"></span>
							<span class="icon-bar"></span>
							<span class="icon-bar"></span>
						</button>
					<!-- <a class="navbar-brand" href="#">STUDIO 149</a> -->
				</div>
				<div class="brand_block center-block">
					<a class="" href="#">
						<!-- <b>STUDIO 149</b><br>
							<span>Fashion</span> -->
						<img src="assets/images/logo.svg" class="img-responsive" alt="logo">
					</a>
				</div>
				<div class="collapse navbar-collapse text-center" id="navMain">
					<ul class="nav navbar-nav">
						<li><a href="#">Our Story</a></li>
						<li><a href="#">The Studio</a></li>
						<li><a href="#">Bridal</a></li>
						<li><a href="#">Fusion</a></li>
						<li><a href="#" data-toggle="collapse" data-target="#ethnicMenu">Pret</a></li>
						<li class="pull-right"><a href="#">Sign In</a></li>
					</ul>
				</div>
			</div>
		</nav>
		<div id="ethnicMenu" class="menu-expanded collapse">
			<div class="container">
				<div class="row">
					<div class="col-md-6">
						<div class="menu-product">
							<a href=""><img src="assets/images/ethnic_1.jpg" class="img-responsive">
								<span class="product-label">Ethnic Wear</span></a>
						</div>
					</div>
					<div class="col-md-6">
						<div class="menu-product">
							<a href=""><img src="assets/images/ethnic_2.jpg" class="img-responsive">
								<span class="product-label">Ethnic Wear</span></a>
						</div>
					</div>
				</div>
				<div class="row">
					<div class="col-md-6">
						<div class="menu-product">
							<a href=""><img src="assets/images/ethnic_3.jpg" class="img-responsive">
								<span class="product-label">Ethnic Wear</span></a>
						</div>
					</div>
					<div class="col-md-6">
						<div class="menu-product">
							<a href=""><img src="assets/images/ethnic_4.jpg" class="img-responsive">
								<span class="product-label">Ethnic Wear</span></a>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</header>

<section id="banner" class="section" data-section-name="welcome">
	<div class="wrapper">
		<div id="slider">
			<!-- <img src="assets/images/banner.jpg" alt="" /> -->
			<img src="assets/images/banner1.jpg" alt="" />
			<img src="assets/images/banner2.jpg" alt="" />
			<h2 class="lead-text"><span>We love making clothes</span></h2>
		</div>
	</div>
</section>

<section class="section" id="intro" data-section-name="specials">
	<div class="wrapper">
		<div class="section-skin">
			<div class="content">
				<div class="container">
					<div class="intro-flex text-center center-block">
						<div class="intro-block">
							<div class="intro-ic">
								<i class="ion-wand"></i>
							</div>
							<h2>Swathi's<br>Special</h2>
							<a href="" class="">Check out now</a>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>

<section class="section" id="product" data-section-name="products">
	<div class="wrapper">
		<div class="section-skin">
			<div class="content">
				<div class="container">
					<div class="text-style col-md-10 col-md-offset-1 text-center">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi scelerisque mollis purus, in viverra libero hendrerit
						in. Vestibulum rutrum nisi eu vulputate iaculis. Vivamus maximus nisi magna, quis tempus dui venenatis in. Ut faucibus
						tellus auctor, commodo lectus tempor, lacinia ligula. Donec nunc risus, auctor non luctus mattis, sollicitudin et sem.
						Fusce ac facilisis nibh. <br>
						<a href="" class="btn btn-style1">Know more about us</a>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>

<section class="section" id="contact" data-section-name="contact">
	<div class="wrapper">
		<div class="section-skin">
			<div class="content">
				<div class="container">
					<div class="text-center contact-info">
						<img src="assets/images/logo-white.svg" class="img-responsive center-block">
						<address class="center-block">No. 5, sit amet, consectetur adipiscing elit. Morbi scelerisque mollis purus, in viverra libero hendrerit in</address>
						<ul class="list-inline social">
							<li><i class="ion-social-facebook-outline"></i></li>
							<li><i class="ion-social-twitter-outline"></i></li>
							<li><i class="ion-social-instagram-outline"></i></li>
							<li><i class="ion-social-googleplus-outline"></i></li>
						</ul>
						<ul class="list-inline bottom-nav">
							<li><a href="#">Our Story</a></li>
							<li><a href="#">The Studio</a></li>
							<li><a href="#">Bridal</a></li>
							<li><a href="#">Fusion</a></li>
						</ul>
					</div>
					<div class="footer">
						<span class="pull-left">&copy; 2017 Studio 149.</span>
						<ul class="pull-right list-inline">
							<li><a href="#">Terms</a></li>
							<li><a href="#">About</a></li>
							<li><a href="#">Contact</a></li>
						</ul>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>
