<header-section></header-section>
<div class="row press-outline">
  <div class="press-section col-md-12 col-sm-12 col-xs-12">
    <div class="slider-carousel">
      <img src="assets/images/press-1.jpg" class="img-responsive" id="item-1">
      <img src="assets/images/press-2.jpg" class="img-responsive" id="item-2">
      <img src="assets/images/press-3.jpg" class="img-responsive" id="item-3">
      <img src="assets/images/press-4.jpg" class="img-responsive" id="item-4">
      <img src="assets/images/press-5.jpg" class="img-responsive" id="item-5">
      <img src="assets/images/press-6.jpg" class="img-responsive" id="item-6">
  </div>
  </div>
</div>
<footer-section></footer-section>