<div class="col-md-12 col-sm-12 col-xs-12">
    <div id="carousel">
        <img src="assets/images/sketch-1.jpeg" class="img-responsive" id="item-1" />
        <img src="assets/images/sketch-2.jpeg" class="img-responsive" id="item-2" />
        <img src="assets/images/sketch-3.jpeg" class="img-responsive" id="item-3" />
        <img src="assets/images/sketch-4.jpeg" class="img-responsive" id="item-4" />
        <img src="assets/images/sketch-5.jpeg" class="img-responsive" id="item-5" />
        <img src="assets/images/sketch-6.jpeg" class="img-responsive" id="item-6" />
    </div>
    <a href="#" id="prev">Prev</a> | <a href="#" id="next">Next</a>
</div>