<header-section></header-section>
<div class="container-fluid hidden-section">
<div class="col-md-12 col-sm-12 col-xs-12 terms-service-section">
    <h2>Pricing Policy</h2>
    <div class="section-points">
        <h2>Price Range</h2>
        At Studio149 we have customised pricing according to the services rendered by us. The details are provided to you beforehand according to the effort, efficiency and the output of the service. Typically the range of transactions on our website varies from INR 4500 to above 1 lac INR.
    </div>
    <div class="section-points">
        <h2>Schedule of payment</h2>
        Some of our services can be utilised for fixed durations. In such cases, it is clearly mentioned within the description of these services. The period of usage in these cases vary from 1 month to 1 year.
    </div>
    <div class="section-points">
        <h2>Price Matching</h2>
        At <b>Studio149</b> we are committed to offering you the best possible prices. We will be glad to meet our competitor's pricing if you ever find an item that we offer, in the same color and size, available from a similar retailer.
    </div>
    <div class="section-points">
        <h2>Sale Adjustment</h2>
        If an item you have purchased is reduced in price within two weeks of your order date, we will happily adjust the sale price for you. Please note that we can only make one sale adjustment per item and designer goods originally purchased on sale are excluded.
    </div>
    <div class="section-points">
        <h2>Pricing Errors</h2>
        We work hard to ensure the accuracy of pricing. Despite our efforts, pricing errors may still occur. If an item's price is higher than the price displayed, we will cancel your order of that item and notify you of the cancellation.
    </div>
    <div class="section-points">
        <h2>Pricing Errors</h2>
        We work hard to ensure the accuracy of pricing. Despite our efforts, pricing errors may still occur. If an item's price is higher than the price displayed, we will cancel your order of that item and notify you of the cancellation.
    </div>
</div>
</div>

