<header-section></header-section>
<div class="container-fluid hidden-section">
<div class="col-md-12 col-sm-12 col-xs-12 terms-service-section">
    <h2>Shipping Information</h2>
    <div class="section-points">
        <h2>Price Range</h2>
        We mention the estimated delivery time for each piece in the product details page.<br><br>
        For all orders within India, we offer free shipping. For International deliveries, we charge a small amount for shipping depending on the destination country and the weight of the packaged product.<br><br>
        For deliveries within India all taxes and duties are included in the price of the product listed on the Website.<br><br>
        For deliveries outside India, customs duties and local taxes have to be paid by customers to our shipping partner at the time of shipment delivery. The amount of duties and taxes depend on the policies of your destination country.<br><br>
        Delivery Time for your order starts from the date of Order Confirmation.<br><br>
        We use the most reliable courier services for deliveries including FedEx (International) and Govt. Speed Post (within India).<br><br>
        We would send you a tracking number and link to our courier company with your shipping confirmation email so you can track your order.<br><br>
        At times orders can get delayed for reasons outside of our control. If your order is delayed beyond 2 weeks of the estimated Delivery Time for some unforeseen reasons, we will get in touch with you to check if you would still like to continue with your order. For further details on Shipping, please see our Terms of Use.
    </div>
</div>
</div>
<footer-section></footer-section>

