<header-section></header-section>
<div class="container-fluid hidden-section">
    <div class="col-md-12 col-sm-12 col-xs-12 terms-service-section">
        <h2>Returns and Exchanges</h2>
        <div class="section-points">
            We offer returns and exchanges within 10 days from the date of delivery. Here’s how you can process your exchange or return.<br><br>
            For an exchange or return you must notify Studio149 within 2 days of receipt of the product.<br><br>
            To notify Studio149, write to us at studio149byswathi@gmail.com with your return or exchange request. Please include your order details (Order number/ order confirmation email) and details of the piece you would like to return or exchange and your reason for doing so.
            We will write back to you with a return authorization and further details on how to process your return or exchange.<br><br>
            Please pack all pieces with all tags intact, in their original packing. If the original tags have been removed or tampered with, we won’t be able to process your return.<br><br>
            Once we have received the item, we will check it to make sure it is in good condition and eligible for returns. Thereafter, we will credit your account within 10 to 14 working days the amount paid for the piece.<br><br>
            We do not accept returns or exchange for the products which are Made to Order or Made to Measure.<br><br>
            <b>Within India,</b>we would refund the full amount paid. For <b>International Orders,</b>we would not be able to refund Shipping Charges or import duties, customs fees or local taxes paid by you.
        </div>
    </div>
</div>
<footer-section></footer-section>

