<header-section></header-section>
<div class="container-fluid hidden-section">
    <div class="col-md-12 col-sm-12 col-xs-12 terms-service-section">
        <h2>Refund Policy</h2>
        <div class="terms-section">
            Our policy lasts 30 days. If 30 days have gone by since your purchase, unfortunately we can’t offer you a refund or exchange.
            To be eligible for a return, your item must be unused and in the same condition that you received it. It must also be in the original packaging.
        </div>
        <div class="section-points">
            <h2>Refunds (if applicable)</h2>
            Once your return is received and inspected, we will send you an email to notify you that we have received your returned item. We will also notify you of the approval or rejection of your refund.
            If you are approved, then your refund will be processed, and a credit will automatically be applied to your credit card or original method of payment, within a certain amount of days.
        </div>
        <div class="section-points">
            <h2>Late or missing refunds (if applicable)</h2>
            If you haven’t received a refund yet, first check your bank account again.
            Then contact your credit card company, it may take some time before your refund is officially posted.
            Next contact your bank. There is often some processing time before a refund is posted.
            If you’ve done all of this and you still have not received your refund yet, please contact us at Studio149fashions@gmail.com. 
        </div>
        <div class="section-points">
            <h2>Sale items (if applicable)</h2>
            Only regular priced items may be refunded, unfortunately sale items cannot be refunded.
        </div>
        <div class="section-points">
            <h2>Exchanges (if applicable)</h2>
            We only replace items if they are defective or damaged.  If you need to exchange it for the same item, send us an email at  Studio149fashions@gmail.com and send your item to: AB-149, 2nd Floor (On top of VBJ), 3rd Main Road, Anna Nagar, Chennai-600040.
        </div>
    </div>
</div>

