<header-section></header-section>
<div class="conatiner-fluid main-section">
    <div class="row studio-section1">
        <div class="studio-header col-md-12 col-sm-12 col-xs-12">The Studio</div>
        <hr>
        <div class="col-md-7 col-sm-7 col-xs-7 image-section">
            <img src="assets/images/fashion-week.jpg" class="img-responsive" alt="Studio">
        </div>
        <div class="col-md-5 col-sm-5 col-xs-5 desc-section">
            <div class="desc-header">How It All Begin</div>
            <div class="desc-text">
                The love for well-made clothes that are unique and reflect
                one's personality is what got me making clothes for friends
                and family initially. With appreciation and demand for more,
                it has grown in the past one and hakf years into  afull fledged
                design studio where we have an amazing team that works together
                to create unique hand-crafted outfits for women. 
            </div>
        </div>
    </div>
    <div class="row studio-section1 designers">
        <div class="studio-header col-md-12 col-sm-12 col-xs-12">Meet your fashion mentor</div>
        <hr>
        <div class="col-md-12 col-sm-12 col-xs-12 designer-section center-pos">
            <img src="assets/images/female-user-circle.png" class="img-responsive" alt="Studio">
            <div class="designer-name">
                Swathi
                <hr>
                Lead Designer
            </div>
        </div>
        <div class="col-md-12 col-sm-12 col-xs-12 designer-section">
            <div class="col-md-4 col-sm-4 col-xs-4">
                <img src="assets/images/female-user-circle.png" class="img-responsive" alt="Studio">
                <div class="designer-name line-width">
                    Swathi
                    <hr>
                    Lead Designer
                </div>
            </div>
            <div class="col-md-4 col-sm-4 col-xs-4">
                <img src="assets/images/female-user-circle.png" class="img-responsive" alt="Studio">
                <div class="designer-name line-width">
                    Swathi
                    <hr>
                    Lead Designer
                </div>
            </div>
            <div class="col-md-4 col-sm-4 col-xs-4">
                <img src="assets/images/female-user-circle.png" class="img-responsive" alt="Studio">
                <div class="designer-name line-width">
                    Swathi
                    <hr>
                    Lead Designer
                </div>
            </div>
        </div>
    </div>
    <div class="row studio-section1">
        <div class="col-md-5 col-sm-5 col-xs-5 desc-section">
            <div class="desc-header">Come Visit</div>
            <div class="desc-text">
                If you would like to customize any outfit for your special
                occasion, please drop a mail or message and drop by at the
                studio to discuss with the designer in person
            </div>
        </div>
        <div class="col-md-7 col-sm-7 col-xs-7 image-section">
            <img src="assets/images/come-visit.jpg" class="img-responsive" alt="Studio">
        </div>
    </div>
    <div class="row studio-section1 last-studio-section">
        <img src="assets/images/fashion-week-1.jpeg" class="img-responsive" alt="Last Studio">
    </div>
</div>
<footer-section></footer-section>