<header-section></header-section>
<div class="container-fluid main-section">
    <div class="row studio-section1">
        <div class="studio-header col-md-12 col-sm-12 col-xs-12">The Studio</div>
        <hr>
        <div class="col-md-6 col-sm-6 col-xs-6 image-section">
            <img src="assets/images/swathi.jpg" class="img-responsive img-rounded" alt="Studio">
        </div>
        <div class="col-md-6 col-sm-6 col-xs-6 desc-section">
            <div class="desc-header">Founder's Note</div>
            <div class="desc-text">
                Fashion is for everyone and it is a way of expressing yourself. We, at Studio 149, believe in making timeless outfits that will be value additions to your wardrobe. With special attention to details like cuts, proportions, choice of fabric, & embellishment, our clothes are a fine mix of aesthetic and functionality.  

<br><br>Studio 149 is an ever evolving label headed by a team of young and vibrant designers having diverese interests and credentials in the field of fashion. We work along with an amazing team of craftsmen to create unique hand-crafted outfits that are a perfect complement to every changing season in fashion, making sure we always formulate for our clients, a bold fashion statement .
            <br>
            <div class="founder-name"> - Swathi Purushothaman</div>
            </div>
        </div>
    </div>
    <div class="row studio-section1 designers">
        <div class="studio-header col-md-12 col-sm-12 col-xs-12">Meet your fashion mentor</div>
        <div class="col-md-12 col-sm-12 col-xs-12 designer-section">
            <div class="col-md-3 col-sm-3 col-xs-6">
                <img src="assets/images/swathi-circle.jpeg" class="img-responsive img-rounded" alt="Studio">
                <div class="designer-name">
                    Swathi Purushothaman
                    <hr>
                    Founder &amp; Head Designer
                </div>
            </div>
            <div class="col-md-3 col-sm-3 col-xs-6">
                <img src="assets/images/neena-circle.jpeg" class="img-responsive" alt="Studio">
                <div class="designer-name line-width">
                    Neena Reddy
                    <hr>
                    Designer – Art &amp; Textiles
                </div>
            </div>
            <div class="col-md-3 col-sm-3 col-xs-6">
                <img src="assets/images/jose-circle.jpeg" class="img-responsive img-rounded" alt="Studio">
                <div class="designer-name line-width">
                    Sandra Jose
                    <hr>
                    Designer – Sustainability and Conscious Fashion
                </div>
            </div>
            <div class="col-md-3 col-sm-3 col-xs-6">
                <img src="assets/images/vino-circle.jpeg" class="img-responsive img-rounded" alt="Studio">
                <div class="designer-name line-width">
                    Vinodhini Surulinathan
                    <hr>
                    Designer - Drapes &amp; Pattern <making></making>
                </div>
            </div>
        </div>
    </div>
    <div class="row studio-section1 come-visit">
        <div class="col-md-5 col-sm-5 col-xs-5 desc-section">
            <div class="desc-header">Come Visit</div>
            <div class="desc-text">
                You can get in touch with us via mail or whatsapp with your
                requirements or references and our team of designers will
                get back to you shortly with our ideas . <br><br> This way we
                can work together on creating your dream outfit.
                After discussing with you our design team will come
                up with design sketches and suggestions for fabrics to be used. <br><br>
                The approximate budget will be quoted as well and after the
                client’s approval the order will be taken ahead for
                production on receipt of 70% of the advance payment.
                The balance needs to be paid at the time of final
                fitting or before dispatch (in case of outsation orders).
            </div>
            <div class="enquire-now schedule-appointment">
                <button type="button" class="btn" data-toggle="modal" data-target="#paymentModal">Schedule an Appointment</button>
            </div>
        </div>
        <div class="col-md-7 col-sm-7 col-xs-7 image-section">
            <img src="assets/images/come-visit.jpg" class="img-responsive img-rounded" alt="Studio">
        </div>
    </div>
    <div class="col-md-12 col-sm-12 col-xs-12 studio-section1 slider-studio-section last-studio-section">
        <div><img src="assets/images/sketch-1.jpeg" class="img-responsive img-rounded" alt="Studio"></div>
        <div><img src="assets/images/sketch-2.jpeg" class="img-responsive img-rounded" alt="Studio"></div>
        <div><img src="assets/images/sketch-3.jpeg" class="img-responsive img-rounded" alt="Studio"></div>
        <div><img src="assets/images/sketch-4.jpeg" class="img-responsive img-rounded" alt="Studio"></div>
        <div><img src="assets/images/sketch-5.jpeg" class="img-responsive img-rounded" alt="Studio"></div>
        <div><img src="assets/images/sketch-6.jpeg" class="img-responsive img-rounded" alt="Studio"></div>
    </div>
    <div class="col-md-12 col-sm-12 col-xs-12 last-section-text">
        Every person has a unique taste and we at Studio 149 would love to
        work along with you to create your dream outfit. Send us an enquiry
        with your requirements and our designers will be in touch with you shortly. 
    </div>
</div>
<div ng-include src="'../app/scripts/order/views/schedule-appointment.html'"></div>
<footer-section></footer-section>