
@mixin transition($args) {
  -webkit-transition: $args;
  -moz-transition: $args;
  -ms-transition: $args;
  -o-transition: $args;
  transition: $args;
}

@mixin bg($file, $size:cover, $pos:center, $clip:border-box){
	background: url('../assets/assets/images/'+$file);
  background-clip: $clip;
	background-position: $pos;
	background-size: $size;
}

@mixin flex(){
	 // display: -webkit-box;      /* OLD - iOS 6-, Safari 3.1-6 */
  display: -moz-box;         /* OLD - Firefox 19- (buggy but mostly works) */
  display: -ms-flexbox;      /* TWEENER - IE 10 */
  display: -webkit-flex;     /* NEW - Chrome */
  display: flex;             /* NEW, Spec - Opera 12.1, Firefox 20+ */
}
@mixin transform($property){
-ms-transform: $property; /* IE 9 */
    -webkit-transform: $property; /* Chrome, Safari, Opera */
    transform: $property;
}

@mixin grayscaleFilter(){
      -webkit-filter: grayscale(1);
  filter: grayscale(1);
}

@mixin filter($filter-type,$filter-amount) { 
  -webkit-filter: $filter-type+unquote('(#{$filter-amount})');
  -moz-filter: $filter-type+unquote('(#{$filter-amount})');
  -ms-filter: $filter-type+unquote('(#{$filter-amount})');
  -o-filter: $filter-type+unquote('(#{$filter-amount})');
  filter: $filter-type+unquote('(#{$filter-amount})');
}
@mixin anim($anim) { 
  -webkit-animation : $anim;
  -moz-animation: $anim;
  -ms-animation: $anim;
  -o-animation: $anim;
  animation: $anim;
}
$color1: #ce202e;


html {
  overflow-x: hidden !important;
}
body {
  overflow-x: hidden !important;
  font-family: 'Lato', sans-serif;
}

#navMain .nav li a{
  color: #fff;
  letter-spacing: 3px;
  padding: 20px 20px;
  font-size: 1.2em;
  letter-spacing: 3px;
}
#navMain .nav li a:hover{
  background-color: transparent !important;
}

.navbar-brand{
  color: #333;
  font-size: 18px;
  font-weight: bold;
}

.navbar-brand.brand-link {
  padding-top: 0;
  padding-bottom: 0;
  padding-right: 0;
  height: 70px;
  > a {
    &:focus,
    &:visited,
    &:hover {
      background-color: transparent;
      border: none;
      border-radius: 0;
    }
  }
  > img {
    width: 100%;
    height: 60px;
  } 
}

.main-section {
  margin: 0 150px;
  #menu-list {
    padding-left: 0;
  }
}

.navbar-default .navbar-nav>.open>a, .navbar-default .navbar-nav>.open>a:focus {
  background-color: transparent !important; //overriding bootstrap css 
}

.navbar {
  .logo-section {
    display: table;
    padding-left: 0;
    padding-right: 0;
    width: 100%;
    &:before {
      position: absolute;
      background-color: #e5e0ea;
    }
  }

  li.dropdown i {
    padding-left: 10px;
  }
  ul.store-dropdown {
    >li>a {
      font-size: 2rem;
      &:focus, &:hover {
        color: #DAA520;
        background-color: white;
      }
    }
  }
  .navbar-nav>li {
    &:nth-child(3) {
      cursor: pointer;
    }
    >a {
      font-size: 1.7rem;
      text-transform: uppercase;
      color: #777;
      cursor: pointer;
      &:focus, &:hover {
        background-color: white;
        border: none;
        border-radius: none;
        color: #DAA520;
      }
    }
  }
  .navbar-right {
    >li> a {
      font-size: 1.5rem;
      &:focus {
        color: black;
      }
      > i {
        font-size: 26px;
      }
    }
  }
  border: none;
  border-radius: 0;
  background-color: white;
  margin-bottom: 1rem;
}

.home-section {
  > img {
    width: 100%;
  }
  > a > img {
    width: 100%;
  }
  .home-slider-section {
    padding: 0;
    img {
      padding-left: 15px !important;
      padding-right: 15px !important;
    }
    .slick-prev {
      z-index: 1000;
      left: 45px;
    }
    .slick-next {
      right: 60px;
      z-index: 1000;
    }
    .slick-next, .slick-prev {
      top: 51%;
    }
    .slick-prev:before, .slick-next:before {
      color: #DAA520 !important;
    }
  }
  .header-image-section {
    display: flex;
  }
  .section-text {
    >p.cursive-font {
      font-family: 'Dancing Script', cursive;
      font-size: 24px;
      font-weight: bold;
    }
    text-align: center;
    padding-top: 1.5rem;
    font-size: 20px;
    padding-left: 0;
    padding-right: 0;
  }
  .section-text.fashion-section-text {
    padding-left: 1.5rem;
    padding-right: 1.5rem;
    margin-left: 3rem;
    margin-right: 3rem;
  }
  .header-text {
    color: #DAA520;
    font-size: 2.55rem;
    text-align: center;
    text-transform: uppercase;
  }
  .header-text.fashion-week-text {
    font-weight: normal;
    padding-bottom: 1rem;
    text-transform: capitalize;
  }
  padding: 2.5rem 1.5rem;
  &:first-child {
    padding-top: 135px;
    img {
      // max-height: 744.22px;
      // width: 100%;
    }
  }
  &:nth-child(2) {
    padding-top: 1.5rem;
  }
  #arrivals-carousel {
    .left.carousel-control {
      top: 460px;
      left: 1335px;
    }
    .right.carousel-control {
      top: 460px;
      right: 375px;
    }
    .carousel-inner .item > img {
      width: 465px;
      margin-left: 35rem;
    }
    .carousel-control {
      width: 0;
      background: linear-gradient(grey, grey) !important;
      opacity: 0.8;
      i {
        font-size: 40px;
        margin-top: 2.5rem;
        color: #DAA520;
      }
    }
    .carousel-caption {
      right: 20%;
      left: 51.5%;
      padding-bottom: 30px;
      bottom: 40%;
      color: #DAA520;
      h2 {
        font-size: 3.5rem;
      }
      span {
        font-size: 1.75rem;
        color: black;
        text-shadow: none;
      }
      button {
        padding: 12px 24px;
        font-size: 2rem;
        background-color: grey;
        color: #DAA520;
        margin-top: 2rem;
      }
    }
  }
  .header-image {
    padding: 0;
  }
}

.home-section.swathi-special{
  padding-left: 30px;
  padding-right: 30px;
  cursor: pointer;
}

.carousel-indicators li {
  height: 15px;
  width: 15px;
  margin-right: 10px;
  display: none;
}

.home-section.home-section.swathi-special-text {
    text-align: center;
    h2 {
      padding-top: 20rem;
      font-size: 3.8rem;
    }
    span {
      padding: 0 4rem;
      font-size: 1.85rem;
      display: block;
      padding-bottom: 2rem;
    }
    button {
      padding: 12px 24px;
      font-size: 2rem;
      background-color: grey;
      color: #DAA520;
      cursor: pointer;
    }
}

hr {
  width: 10%;
  border-top: 4px solid #A9A9A9;
}

.center-exclusive {
  text-align: center;
  padding-bottom: 15px;
}

.card.category {
  position: relative;
}

.card-label-bg {
  background-color: #000;
  opacity: 0.4;
  position: absolute;
  bottom: 0%;
  width: 100%;
  height: 34px;
}

.card-label {
  color: #DAA520;
  position: absolute;
  bottom: 0%;
  width: 100%;
  a {
    color: #DAA520;
    font-size: 24px;
    text-transform: uppercase;
    text-decoration: none;
    &:hover {
      opacity: 0.55;
    }
  }
  text-align: center;
}

a.category-title.btn {
  padding: 1.5rem 0;
  color: #DAA520;
  font-size: 3.25rem;
  border: none;
  font-weight: bold;
  border-radius: 0;
  i {
    font-size: 3rem;
    padding-right: 1.5rem;
  }
}

a.product-title.btn {
  padding: 1.5rem 0;
  color: #DAA520;
  font-size: 1.4rem;
  border: none;
  font-weight: bold;
  border-radius: 0;
  width: 100%;
  background-color: #BEBEBE;
  text-transform: capitalize;
  text-align: left;
  i {
    font-size: 3rem;
    padding-right: 1.5rem;
  }
}

.list-section {
  padding-left: 2rem;
  padding-right: 2rem;
}

a.category-title.btn.specials {
  width: 25%;
}

.footer-section {
  .list-title {
    font-size: 1.5rem;
    padding-top: 1rem;
    font-weight: 500;
    text-transform: uppercase;
  }
  .footer-list {
    list-style-type: none;
    padding-left: 0;
    li {
      padding-bottom: 1.5rem;
      font-size: 1.3rem;
      color: #4a4a4a;
    }
  }
  .footer-list.info {
    li {
      a {
        color: #4a4a4a;
        text-decoration: none;
      }
      padding-left: 0;
    }
  }
  .footer-list.inline-list {
    li {
      display: inline;
      padding-right: 5rem;
      a {
        color: #4a4a4a;
      }
      i {
        font-size: 3rem;
      }
    }
  }
  .footer-heading-section {
    hr {
      width: 100%;
      border-top: 2px solid #A9A9A9;
    }
  }
  .footer-image {
    padding: 2.5rem;
    padding-left: 15px;
    padding-right: 15px;
    img {
      width: 100%;
      height: 250px;
    }
  }
  margin: 0;
  padding: 0;
  background-color: #E8E5DE;
}

.header-image-section {
  .slick-slide {
    padding-left: 0 !important;
    padding-right: 0 !important;
  }
}

.slider-section {
  div {
    cursor: pointer;
  }
  .slick-prev, .slick-next {
    z-index: 1000;
  }
}

//Studio Page

.studio-section1 {
  .studio-header {
    color: #DAA520;
    font-size: 2.3rem;
    text-align: center;
    padding-bottom: 1rem;
    text-transform: capitalize;
  }
  .image-section {
    padding: 4.5rem;
    padding-left: 0;
  }
  .desc-section {
    vertical-align: middle;
    margin-top: 4rem;
    .schedule-appointment {
      padding-top: 1rem;
      text-align: center;
      button {
        font-size: 20px;
        padding-top: 1rem;
        padding-bottom: 1rem;
        &:focus, &:hover, &:active {
          border-color: transparent;
          box-shadow: none;
        }
      }
    }
  }
  .desc-header {
    color: #DAA520;
    font-size: 2.3rem;
    padding-bottom: 1rem;
    padding-left: 1rem;
  }
  .desc-text {
    font-size: 1.65rem;
    padding: 1rem;
    text-align: justify;
    .founder-name {
      text-align: right;
      font-style: italic;
    }
  }
  hr {
    width: 6%;
    border-top: 3px solid #A9A9A9;
  }
  .designer-section {
    img {
      margin: auto;
      width: 175px;
      height: 175px;
    }
    hr {
      margin-top: 5px;
      margin-bottom: 5px;
      width: 5%;
      border-top: 3px solid #A9A9A9;
    }
    padding: 4.5rem;
    .designer-names {
      cursor: pointer;
    }
  }
  .designer-name {
    text-align: center;
    font-size: 2rem;
  }
  .designer-name.line-width {
    hr {
      width: 10%;
    }
  }
  margin: 0;
  margin-top: 20px; 
}

.studio-section1.come-visit {
  padding-top: 1rem; 
  .image-section {
    padding-right: 0;
  }
}

.studio-section1.last-studio-section {
  padding-bottom: 3.5rem;
  img {
    width: 100%;
  }
}

.last-section-text {
  text-align: center;
  font-size: 1.8rem;
  padding-bottom: 2rem;
  font-style: italic;
  font-weight: 600;
  color: #DAA520;
}

.studio-section1.designers {
  background-color: #e5e0ea;
}

//End - Studio Page

// .navbar-default {
//   .navbar-nav>li>a {
//     font-size: 18px;
//   }
//   border: none;
//   border-radius: 0;
// }

.main-img {
  padding-bottom: 2rem;
}
.category-intro-img {
  // background: url('../assets/images/studio149-3.jpg');
  // height: 1199.89px;
  // width: 100%;
  // background-attachment: fixed;
  // //background-position: center;
  // background-repeat: no-repeat;
  // background-size: cover;
  top: 90px;
}

.products-section {
  padding-top: 90px;
  .products-listing {
    padding-bottom: 5rem;
  }
  .category-text {
    color: #3d3b41;
    font-size: 3.5rem;
    text-align: center;
    font-weight: bold;
    padding-bottom: 1rem;
    text-transform: capitalize;
  }
  .latest {
    //border-top: 1px solid #aaa;
    border-bottom: none;
    border-left: none;
    border-right: none;
    display: block;
    text-align: center;
    .latest-text {
      padding: 5px 10px;
      font-size: 2.5rem;
    }
  }
  hr {
    margin-top: 5px;
    margin-bottom: 5px;
    width: 5%;
    border-top: 3px solid #A9A9A9;
  }
  .category-intro-img {
    padding-bottom: 3rem;
    top: 100px;
  }
  .product-card {
    .product-title {
      background-color: white;
      /* border: 1px solid black; */
      border-top: 0px;
      color: black;
      font-weight: normal;
    }
    hr {
      width: 70%;
      border-top: 1px solid #A9A9A9;
    }
    p.prod-desc {
      text-align: center;
      font-size: 1.3rem;
      text-transform: capitalize;
      text-align: left;
    }
    p.prod-desc.prod-price {
      font-size: 1.6rem;
    }
    .product-shadow {
      padding: 2.5rem;
      box-shadow: 0px 3px 8px rgb(100,100,100);
      cursor: pointer;
      border-radius: 1%;
    }
    padding: 3.5rem;
  }
}

.product-detail-outline {
  padding-bottom: 35px;
  .product-detail-section {
    .prod-category {
      color: #3d3b41;
      font-size: 1.6rem;
      font-weight: bold;
    }
    .angle-images {
      padding-bottom: 1.43rem;
    }
    .product-images, .product-details {
       top: 65px;
    }
    .product-details {
      padding: 0 155px;
    }
    .product-details {
      .title, .product-title {
        color: #3d3b41;
        font-size: 1.6rem;
      }
      .product-title {
        font-weight: bold;
        font-size: 1.6rem;
        text-transform: capitalize;
      }
      span {
        color: #3d3b41;
        font-size: 1.5rem;
        font-weight: bold;
        padding-bottom: 1rem;
        text-transform: uppercase;
      }
      .product-price {
        font-size: 1.6rem;
        color: #DAA520;
      }
      .product-size {
        font-size: 2rem;
        font-weight: bold;
      }
      .size-guide {
        text-decoration: none;
        color: #000;
        cursor: pointer;
        text-transform: uppercase;
        font-size: 1.2rem;
      }
      .size-select {
        padding-left: 0.5rem;
        padding-top: 1rem;
        input[type=radio] {
          width: 20px;
          height: 20px;
          margin-left: -25px;
        }
        label {
          font-size: 18px;
          font-weight: 800;
          padding-left: 20px;
        }
      }
      .size-list {
        button {
          padding: 0.7rem 3rem;
          font-size: 1.6rem;
          background-color: grey;
          color: #DAA520;
          &:first-child {
            margin-right: 1rem;
          }
        }
      }
      .enquire {
        padding-bottom: 1rem;
        padding-top: 1rem;
        button {
          padding: 0.7rem 3rem;
          font-size: 1.6rem;
          background-color: grey;
          color: #DAA520;
        }
      }
      .product-description {
        padding-bottom: 1rem;
        p {
          font-size: 1.6rem;
        }
      }
      .delivery-period {
        font-size: 1.6rem;
      }
      hr {
        width: 100%;
        border-top: 1px solid #A9A9A9;
        margin: 2px 0 !important;
      }
      .policy {
        font-size: 1.6rem;
      }
    }
    .padding-bot {
      padding-bottom: 1rem;
    }
    .color-material.padding-bot {
      padding-top: 1rem;
    }
    margin: 0;
    padding-bottom: 5rem;
    button {
      &:focus {
        border-color: transparent;
      }
    }
    margin-top: 40px;
  }
}

.blog-section {
    text-align: center;
    padding-top: 20rem;
    font-size: 5rem;
    color: #DAA520;
}

.blouse-section {
  padding: 1.5rem;
  cursor: default;
  .blouses {
    padding: 2rem;
    box-shadow: 0px 3px 8px #646464;
  }
}

.products-links {
  padding-top: 4rem;
  a.btn {
    font-size: 1.8rem;
    color: grey;
    outline: none;
    &:hover, &:focus {
      color: #DAA520;
    }
  }
}

.hidden-section {
.terms-service-section {
    padding-top: 120px;
    padding-left: 2rem;
    padding-right: 2rem;
    padding-bottom: 2rem;
    min-height: 675px;
    > h2 {
      text-align: center;
      font-weight: 600;
      color: #DAA520;
    }
    .terms-section {
      font-size: 16px;
    }
    .section-points {
      font-size: 16px;
      h2 {
        font-size: 20px;
        color: #DAA520;
      }
    }
  }
}
.terms-section-first.terms-service-section {
  top: 120px;
}

#navMain .navbar-nav{
  float: none;
  padding-left: 70px
}
#navMain .navbar-nav li{
  float: none;
  display: inline-block;
}
#navMain  .navbar-right{
  margin-left: 0px
}

#header{
    background: #52393d;
  
}
.pagin {
  position:fixed;
  top:0;
  bottom:0;
  right:35px;
  height:90px;
  margin:auto;
  font-size:1.2em;
  z-index: 999;
}
.pagin a {
  display:block;
  width:100px;
  height:15px;
  border-radius:50%;

  color:#fff;
  position:relative;
padding: 12px 4px;
}
.pagin a.active:after {
  background:transparent;
  border:1px solid #fff;
  width:8px;
  height:8px;
}
.pagin a .hover-text {
  position:absolute;
  right:20px;
  top:0px;
  opacity:0;
  -webkit-transition: opacity 0.5s ease;
  transition: opacity 0.5s ease;
}
.pagin a:hover .hover-text {
  opacity: 1;
}
.pagin a:after {
  width:8px;
  height:8px;

  display: block;
  background:#fff;
  border-radius:50%;
  content:'';
  position: absolute;
  margin:auto;
  top:0;
  right:4px;
  bottom:0;

}

.navbar-studio{
    background: url('../assets/images/pattern.png');
    margin: 0 !important;
    border: 0;
    border-radius: 0;
}

.menu-expanded{
  background: #fff;
  position: absolute;
  width: 100%;
  z-index: 200;
}

#ethnicMenu img{
  max-width: 45%
}
#ethnicMenu{
  padding: 40px 0px
}

.product-label{
  position: absolute;
      position: absolute;
    z-index: 3;
    top: 50%;
    right: 30%;
    background: #fff;
}

.menu-product{
  position: relative;
}

.brand_block{
    width: 180px;
font-size: 1.7em;
  text-align: center;
  padding-top: 5px;
/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#ffffff+0,f3f3f3+50,ededed+51,ffffff+100;White+Gloss+%232 */
background: #ffffff; /* Old browsers */
background: -moz-linear-gradient(top, #ffffff 0%, #f3f3f3 50%, #ededed 51%, #ffffff 100%); /* FF3.6-15 */
background: -webkit-linear-gradient(top, #ffffff 0%,#f3f3f3 50%,#ededed 51%,#ffffff 100%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(to bottom, #ffffff 0%,#f3f3f3 50%,#ededed 51%,#ffffff 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#ffffff',GradientType=0 ); /* IE6-9 */
  border-bottom-right-radius: 3px;
  border-bottom-left-radius: 3px;
    height: 120px;
          box-shadow: 2px 2px 5px rgba(51, 51, 51, 0.46);
      -webkit-box-shadow: 2px 2px 5px rgba(51, 51, 51, 0.46);
}

.brand_block a{
  color: #333;
  text-decoration: none;
}
.brand_block img{
    max-width: 70%;
    margin: 0 auto;
}

.wrapper{
  padding: 20px;
  height: 100vh;
  overflow: hidden;
}

#intro .section-skin{
  background: url('../assets/images/section1.jpg');
  height: 100%;
}

#product .section-skin{
     background: url('../assets/images/section3.jpg');
  height: 100%;
  }

#contact .section-skin{
   background: #52393d;
  height: 100%;
}

#contact .content{
    background: url('../assets/images/pattern.png');
      height: 100%;
}

.content{
}
.intro-block{
  height: 65vh;
  width: 65vh;
  border-radius: 50%;
  margin: 0 auto;
/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#ffffff+0,f3f3f3+50,ffffff+100&0.85+0,0.85+100 */
background: -moz-linear-gradient(top, rgba(255,255,255,0.85) 0%, rgba(243,243,243,0.85) 50%, rgba(255,255,255,0.85) 100%); /* FF3.6-15 */
background: -webkit-linear-gradient(top, rgba(255,255,255,0.85) 0%,rgba(243,243,243,0.85) 50%,rgba(255,255,255,0.85) 100%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(to bottom, rgba(255,255,255,0.85) 0%,rgba(243,243,243,0.85) 50%,rgba(255,255,255,0.85) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#d9ffffff', endColorstr='#d9ffffff',GradientType=0 ); /* IE6-9 */
  @include flex();
  flex-direction: column;
  justify-content: center;
  @include transition('all 0.2s ease-in-out');
}

.intro-flex{
  @include flex();
  flex-direction: column;
  justify-content: center;
  height: 100%;

}

#intro .content, #intro .container{
    height: 100%;
}

.intro-ic { 
font-size: 3em;
margin-top: -10px;
}

.intro-block h2{
      text-transform: uppercase;
    letter-spacing: 10px;
font-size: 3.2em;
    font-weight: 300;
    margin-top: 0;
}
.intro-block a{
    font-size: 2em;
    color: #333;
  }

   .social{
      margin-top: 30px 
   }

  .social i{
    font-size: 2.5em;
    color: #fff;
  }

  .social li{
    padding: 0 15px;
  }

  .bottom-nav li a, .footer span, .footer ul li a{
    color: #fff;
    letter-spacing: 3px;
    padding: 20px 20px;
    font-size: 1.2em;
    letter-spacing: 3px;
  }

.footer{
  margin-top: 30px 
}

.slick-slide {
  padding-left: 35px !important;
  padding-right: 35px !important;
  outline: none;
}

.slick-prev {
  left: -5px;
}

.slick-next {
  right: 5px;
}

.slick-next, .slick-prev {
  top: 45%;
}

.slick-prev:before, .slick-next:before{
    font-family: FontAwesome;
    color:#DAA520 !important;
    font-size: 40px !important;
}

#contact .content{
  padding-top: 30px;
}

#carousel {
  width:960px;
  border:1px solid #222;
  height:300px;
  position:relative;
  clear:both;
  overflow:hidden;
  background:#FFF;
}

#carousel img {
  visibility:hidden; /* hide images until carousel can handle them */
  cursor:pointer; /* otherwise it's not as obvious items can be clicked */
}

.bottom-nav{
  margin-top: 40px;
}

address{
    margin: 20px 0px;
    font-size: 1.2em;
    color: #fff;
    width: 50%;
}

.contact-info{
  margin-top: 50px;
}

.lead-text{
  position: absolute;
    z-index: 444;
    text-align: center;
    width: 100%;
    color: #fff;
    font-size: 3em;
    text-transform: uppercase;
    top: 70%;}

    .lead-text span{
    background: rgba(39, 39, 39, 0.74);
    padding: 10px 30px;
    }

    .text-style{
      color: #fff;
      letter-spacing: 3px;
      padding: 20px 20px;
      font-size: 1.4em;
      letter-spacing: 3px;
    }

    #product .content{
      height: 100%;
      background: rgba(0, 0, 0, 0.15);
    }
    #product .content .col-md-10{
      margin-top:18%;
    }

    .btn-style1 {
      font-size: 1em;
      color: #fff !important;
      background: #ce0d2b;
      border-radius: 0;
      padding: 10px 30px;
      margin-top: 30px;
    }

#pressModal {
  .slick-prev {
    left: -12px;
  }
}

#designerModal {
  .designer-desc {
    font-size: 1.5rem;
    padding-top: 2rem;
    word-spacing: 1px;
  }
  .modal-title {
    color: #DAA520;
    text-align: center;
  }
}

.press-outline {
  margin-top: 130px;
  padding-bottom: 30px;
  .press-section {
    border: 1px solid #DAA520;
    border-radius: 10px;
    cursor: pointer;
    .slider-carousel {
      img {
        width: 100%;
        height:900px;
      }
      .slick-prev {
        z-index: 1000;
        left: 45px;
      }
      .slick-next {
        right: 60px;
        z-index: 1000;
      }
    }
  }
  .schedule-appointment {
    text-align: center;
    button {
      padding: 1rem 2rem;
      &:hover, &:focus {
        outline: none;
      }
    }
  }
  .blouse-heading {
    text-align: center;
    font-size: 2rem;
    font-style: italic;
    padding: 3rem 24rem;
  }
  .press-section.gallery {
    border: none;
  }
}
@media only screen and (min-width: 2000px) {
  .gif-section {
    margin: 0 150px;
  }
  // a.category-title.btn.specials {
  //   margin: 0 60rem 0 66rem;
  // }
}

@media only screen and (max-width: 1440px) {
  .main-section {
    margin: 0 22px;
  }
}

@media only screen and (max-width: 1440px) and (min-width: 1050px) {
  .home-section.home-section.swathi-special-text h2 {
    padding-top: 5rem !important;
    font-size: 3rem;
  }
  
}
@media only screen and (max-width: 1050px) {
  .home-section.home-section.swathi-special-text button {
    font-size: 1.5rem;
    padding: 6px 12px;
  }
  .home-section.home-section.swathi-special-text h2 {
    font-size: 2.5rem;
    padding-top: 3rem;
  }
}

@media only screen and (min-width: 768px) {
  .navbar-right {
      margin-right: -2px;
  }
}

@media only screen and (max-width: 768px) {
  .navbar {
    .logo-section {
      width: 100%;
      button.navbar-toggle {
        float: right;
        margin-top: 22px;
        margin-left: 30px;
        &:focus, &:hover {
          background-color: transparent;
        }
      }
      .navbar-brand.brand-link {
        float: left;
        padding-top: 0.5rem;
      }
    }
  }
  .home-section {
    .header-text {
      font-size:  2.5rem;
    }
    &:nth-child(2) {
      > div {
        &:nth-child(4) {
          padding-top: 2rem;
          img {
            max-height: 447px;
            width: 100%;
          }
        }
      }
    }
    &:nth-child(3), &:nth-child(4) {
      margin-top: 0;
    }
  }
  a.category-title.btn {
    font-size: 2.25rem;
  }

  .main-section #menu-list {
    padding: 0 3rem;
  }
}

@media only screen and (width: 768px) {
  .home-section.home-section.swathi-special-text h2 {
    font-size: 2rem;
    padding-top: 2rem;
  }
  .home-section.home-section.swathi-special-text span {
    font-size: 1.5rem;
  }
  .home-section {
    &:nth-child(2) {
      > div {
        &:nth-child(3), &:nth-child(2) {
            width: 50%;
        }
        &:nth-child(4) {
          width: 100%;
        }
      }
    }
  }
  
}

@media only screen and (max-width: 550px) {
  .home-section {
    &:first-child {
      .section-text {
        .cursive-font {
          font-size: 20px;
        }
        > p:nth-child(3) {
          font-size: 18px;
        }
      }
    }
  }
}

@media only screen and (max-width: 450px) {
  .home-section {
    &:first-child {
      .section-text {
        .cursive-font {
          font-size: 18px;
        }
        > p:nth-child(3) {
          font-size: 16px;
        }
      }
    }
  }
}