body {
    background: #f7f7f7;
}

.user-form {
  margin-top: 5%;
  background-color: darkturquoise;
  border-radius: 2%;
  .title {
    margin: 15px 0;
    padding: 10px;
    text-align: center;
    background-color: lightslategray;
    border-radius: 50%;
    h2 {
      margin: 0;
    }
  }
}