.user-form {
  position: absolute;
  margin: 10%;
  margin-left: auto;
  margin-right: auto;
  right: 0;
  left: 0;
  padding: 1% 0;
  background-color: #fff;
  box-shadow: 0px 0.1875rem 0.4375rem rgba(0, 0, 0, 0.25);
  .section {
    width: 50%;
    img {
      height: 555px;
      width: 100%;
    }
    &:last-child {
      padding-left: 25px;
      padding-right: 25px;
      padding-top: 20px;
    }

  }
  label {
    font-size: 1.5rem;
  }
  .title {
    margin: 15px 0;
    margin-top: 0;
    padding: 10px;
    text-align: center;
    h2 {
      margin: 0;
      font-size: 2.5rem;
    }
  }
  .form-control:focus {
    outline: 0 !important;
    border-bottom: 1px solid #66afe9 !important;
    -webkit-box-shadow: none !important;
    box-shadow: none !important;

  }
  .form-control {
    -webkit-box-shadow: none !important;
    border-radius: 0 !important;
    border: none !important;
    border-bottom: 1px solid #ccc !important;
    box-shadow: none !important;
    -webkit-transition: none !important;
    -o-transition: none !important;
    transition: none !important;
  }
  .text-center {
      button {
          width: 20%;
      }
  }
  .form-group {
    margin-bottom: 35px;
  }
}

.user-form.login,
.user-form.forgot-pwd {
  padding-left: 2%;
  padding-right: 2%;
}

.user-form.forgot-pwd,
.user-form.reset-pwd {
  .form-group {
    padding-left: 3%;
    padding-right: 3%;
  }
}

.register-success {
    position: absolute;
    left: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto;
    margin-top: 20%;
}