<nav class="navbar navbar-fixed-top navbar-default">
  <div class="container-fluid logo-section">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#menu-list" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand brand-link" href="#">
        <img alt="Brand" src="assets/images/studio3.png" class="img-responsive">
      </a>
    </div>
  </div>
  <div class="container-fluid main-section">
    <div class="collapse navbar-collapse" id="menu-list">
      <ul class="nav navbar-nav">
        <li><a ui-sref="home">Home <span class="sr-only">(current)</span></a></li>
        <li><a ui-sref="studio">The Studio</a></li>
        <li class="dropdown"><a class="dropdown-toggle" data-toggle="dropdown">
          Store<i class="fa fa-caret-down" aria-hidden="true"></i></a>
          <ul class="dropdown-menu store-dropdown">
            <li><a ui-sref="products({categoryName: 'bridal'})">Bridal</a></li>
            <li><a ui-sref="products({categoryName: 'pret'})">Pret</a></li>
            <li><a ui-sref="products({categoryName: 'festive'})">Festive</a></li>
            <li><a ui-sref="products({categoryName: 'bridal'})">On Sale</a></li>
          </ul>
        </li>
        <li><a ui-sref="blog">Blog</a></li>
        <!-- <li><a ui-sref="press">Press</a></li> -->
      </ul>
      <ul class="nav navbar-nav navbar-right">
          <li><a href="https://www.facebook.com/studio149couture/" target="_blank"><i class="fa fa-facebook-official" aria-hidden="true"></i><span class="sr-only">(current)</span></a></li>
          <li><a href="https://www.instagram.com/studio149/" target="_blank"><i class="fa fa-instagram" aria-hidden="true"></i><span class="sr-only">(current)</span></a></li>
          <li><a href="#"><i class="fa fa-phone" aria-hidden="true"></i>&nbsp;<span>044-43531466</span></a></li>
      </ul>
    </div>
  </div>
</nav>