<div class="container-fluid footer-section">
    <div class="row">
        <div class="col-md-8 col-sm-8 col-xs-8">
            <div class="row footer-heading-section">
                <div class="col-md-4 col-sm-4 col-xs-4 list-title">
                    Contact
                </div>
                <div class="col-md-4 col-sm-4 col-xs-4 list-title">
                    Information
                </div>
                <div class="col-md-4 col-sm-4 col-xs-4 list-title">
                    Connect
                </div>
                <hr>
            </div>
            <div class="row">
                <div class="col-md-4 col-sm-4 col-xs-4 list-section">
                    <ul class="footer-list">
                        <li>
                            <i class="fa fa-home" aria-hidden="true"></i>
                            AB-149, 2nd Floor (On top of VBJ),<br>
                            3rd Main Road,<br>
                            Anna Nagar,<br>
                            Chennai-600040
                        </li>
                        <li>
                            <i class="fa fa-phone" aria-hidden="true"></i>
                            Ph: 044-43531466<br>
                            WhatsApp: 8148637647
                        </li>
                        <li>
                            <i class="fa fa-envelope" aria-hidden="true"></i>
                            studio149@gmail.com
                        </li>
                    </ul>
                </div>
                <div class="col-md-4 col-sm-4 col-xs-4 list-section">
                    <ul class="footer-list info">
                        <li>FAQ</li>
                        <li>Terms and conditions</li>
                        <li>About Us</li>
                        <li>Career</li>
                        <li>Terms of service</li>
                        <li>Copyrights Policy</li>
                    </ul>
                </div>
                <div class="col-md-4 col-sm-4 col-xs-4 list-section">
                    <ul class="footer-list inline-list">
                        <li><i class="fa fa-facebook-official" aria-hidden="true"></i></li>
                        <li><i class="fa fa-google-plus-official" aria-hidden="true"></i></li>
                        <li><i class="fa fa-twitter" aria-hidden="true"></i></li>
                        <li><i class="fa fa-envelope" aria-hidden="true"></i></li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="col-md-4 col-sm-4 col-xs-4 footer-image">
            <img src="assets/images/fashion-week.jpg" class="img-responsive" alt="Fashion-week">
        </div>
    </div>
</div>