<div class="col-md-12 col-sm-12 col-xs-12 home"  id="contact">
    <div>
        <div class="section-skin">
            <div class="content">
                <div class="container">
                    <div class="text-center contact-info">
                        <address class="center-block">No. 5, sit amet, consectetur adipiscing elit. Morbi scelerisque mollis purus, in viverra libero hendrerit
                            in</address>
                        <ul class="list-inline social">
                            <li><i class="fa fa-facebook-official" aria-hidden="true"></i></li>
                            <li><i class="fa fa-twitter" aria-hidden="true"></i></li>
                            <li><i class="fa fa-instagram" aria-hidden="true"></i></li>
                            <li><i class="fa fa-google-plus-official" aria-hidden="true"></i></li>
                        </ul>
                        <ul class="list-inline bottom-nav">
                            <li><a href="#">Terms</a></li>
                            <li><a href="#">About</a></li>
                            <li><a href="#">Contact</a></li>
                        </ul>
                    </div>
                    <div class="footer">
                        <span class="pull-right">&copy; 2017 Studio 149.</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>