<div class="col-md-12 col-sm-12 col-xs-12 footer-section">
    <div class="col-md-8 col-sm-8 col-xs-8">
        <div class="row footer-heading-section">
            <div class="col-md-4 col-sm-4 col-xs-4 list-title">
                Contact
            </div>
            <div class="col-md-4 col-sm-4 col-xs-4 list-title">
                Information
            </div>
            <div class="col-md-4 col-sm-4 col-xs-4 list-title">
                Connect
            </div>
            <hr>
        </div>
        <div class="row">
            <div class="col-md-4 col-sm-4 col-xs-4 list-section">
                <ul class="footer-list">
                    <li>
                        <i class="fa fa-home" aria-hidden="true"></i> AB-149, 2nd Floor (On top of VBJ),<br> 3rd Main Road,<br>                        Anna Nagar,<br> Chennai-600040
                    </li>
                    <li>
                        <i class="fa fa-phone" aria-hidden="true"></i> Ph: 044-43531466<br> WhatsApp: 8148637647
                    </li>
                    <li>
                        <i class="fa fa-envelope" aria-hidden="true"></i> studio149@gmail.com
                    </li>
                </ul>
            </div>
            <div class="col-md-4 col-sm-4 col-xs-4 list-section">
                <ul class="footer-list info">
                    <li><a ui-sref="terms">Terms & Services</a></li>
                    <li><a ui-sref="refunds">Refund Policy</a></li>
                    <li><a ui-sref="pricing">Pricing Policy</a></li>
                    <li><a ui-sref="privacypolicy">Privacy Policy</a></li>
                </ul>
            </div>
            <div class="col-md-4 col-sm-4 col-xs-4 list-section">
                <ul class="footer-list inline-list">
                    <li><a href="https://www.facebook.com/studio149couture/" target="_blank"><i class="fa fa-facebook-official" aria-hidden="true"></i></a></li>
                    <li><a href="https://www.instagram.com/studio149/" target="_blank"><i class="fa fa-instagram" aria-hidden="true"></i></a></li>
                </ul>
            </div>
        </div>
    </div>
    <div class="col-md-4 col-sm-4 col-xs-4 footer-image">
        <img src="assets/images/footer-image.png" class="img-responsive" alt="Fashion-week">
    </div>
</div>